html,
body{
    min-height:100%;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    animation: fadein 2s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



body{
    background-image: url('img/grid2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

.cell {
    width: 12vw;
    height: 12vw;
    display: inline-block;
    margin: 1vw 1vw;
    background-color: #000000;
    border-radius: 5%;
    box-shadow: 0 0 15px #59fffd;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 12vw;
    font-size: 10vw;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    text-shadow: 0 0 15px #59fffd;
    animation: glitch 2s steps(100) infinite;
}

/*Animated X's and O's*/
@keyframes glitch {
    0% {
        text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    1% {
        text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    2% {
        text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    3% {
        text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    4% {
        text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    5% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    6% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    7% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    8% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    9% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    10% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    11% {
        text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    12% {
        text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    13% {
        text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    14% {
        text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    15% {
        text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    16% {
        text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    17% {
        text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    18% {
        text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    19% {
        text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    20% {
        text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    21% {
        text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
    }
    22% {
        text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
    }
    23% {
        text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
    }
    24% {
        text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
    }
    25% {
        text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
    }
    26% {
        text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
    }
    27% {
        text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
    }
    28% {
        text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
    }
    29% {
        text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
    }
    30% {
        text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
    }
    31% {
        text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    32% {
        text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    33% {
        text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    34% {
        text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    35% {
        text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    36% {
        text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    37% {
        text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    38% {
        text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    39% {
        text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    40% {
        text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    41% {
        text-shadow: 5px 0 0 blue, -5px 0 0 lime;
    }
    42% {
        text-shadow: 0 0 0 blue, 0 0 0 lime;
    }
    43% {
        text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    44% {
        text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    45% {
        text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    46% {
        text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    47% {
        text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    48% {
        text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    49% {
        text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    50% {
        text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    51% {
        text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    52% {
        text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    53% {
        text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    54% {
        text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    55% {
        text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    56% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    57% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    58% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    59% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    60% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    61% {
        text-shadow: 3px 0 0 red, -3px 0 0 lime;
    }
    62% {
        text-shadow: 0 0 0 red, 0 0 0 lime;
    }
    63% {
        text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
    }
    64% {
        text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
    }
    65% {
        text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
    }
    66% {
        text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;
    }
    67% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    68% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    69% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    70% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    71% {
        text-shadow: 7px 0 0 red, -7px 0 0 blue;
    }
    72% {
        text-shadow: 0 0 0 red, 0 0 0 blue;
    }
    73% {
        text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    74% {
        text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    75% {
        text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    76% {
        text-shadow: 1px 0 0 red, -1px 0 0 blue;
    }
    77% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    78% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    79% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    80% {
        text-shadow: -1px 0 0 red, 1px 0 0 blue;
    }
    81% {
        text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    82% {
        text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    83% {
        text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    84% {
        text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    85% {
        text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;
    }
    86% {
        text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    87% {
        text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    88% {
        text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    89% {
        text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    90% {
        text-shadow: -1px 0 0 red, 1px 0 0 lime;
    }
    91% {
        text-shadow: 6px 0 0 lime, -6px 0 0 blue;
    }
    92% {
        text-shadow: 0 0 0 lime, 0 0 0 blue;
    }
    92% {
        text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
    }
    93% {
        text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
    }
    94% {
        text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
    }
    95% {
        text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;
    }
    96% {
        text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    97% {
        text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    98% {
        text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    99% {
        text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
    100% {
        text-shadow: -1px 0 0 blue, 1px 0 0 lime;
    }
}

.cell5x5{
    width:8vw;
    height:6.5vw;
    display:inline-block;
    margin: 1vw 1vw;
    background-color: #000000;
    border-radius: 5%;
    box-shadow: 0 0 15px #59fffd;
    color:white;
    text-align:center;
    vertical-align: middle;
    line-height:6.5vw;
    font-size:5vw;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    text-shadow: 0 0 15px #59fffd;
    animation: glitch 2s steps(100) infinite;
}

.game_board .row{
    width:40vw;
    height: 12vw;
    display:flex;
    justify-content:space-between;
    margin:2vw auto;
    flex-shrink:0;
}

.game_board .row5x5{
    width:40vw;
    height: 8vw;
    display:flex;
    justify-content:space-between;
    margin:1.5vw auto;
    flex-shrink:0;
}

.top{
    height:20vh;
    width:90vw;
    display:flex;
    justify-content:space-between;
    margin:0 auto;
    position:relative;
    top:5vw;
}

.playerText,
.playerText{
    -webkit-box-reflect: below -18px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.2)));
}

.time_bar{
    display:inline-block;
    width:50%;
    height:100%;
    margin:0 auto;
}

.progress{
    position:relative;
    top:8vh;
}

.player1,
.player2{
    display:inline-block;
    width:20%;
    height:120%;
    background-color:black;
    font-family: 'Source Code Pro', monospace;
    font-size:3vw;
    text-align:center;
    box-shadow: 0 0 15px #59fffd;
    color:white;
    border-radius: 10%;
    padding-top:2%;
}

.player1.highlightCurrentPlayer,
.player2.highlightCurrentPlayer{
    transition: background 0.5s linear 0s, color 0.5s linear 0s;
    background-color: rgba(223, 137, 16, 0.75);
    box-shadow: 0 0 15px #fbe303;
}

.game_board{
    width:50vw;
    height:80%;
    margin: 0 auto;
    position:relative;
    top:0;
}

.bottom{
    margin: 0 auto;
    display:block;
    height:10vw;
    width:100%;
    position:relative;
    top:10vh;
}

#startAndReset{
    height:25vw;
    width:15vw;
    position:relative;
    top:13vw;
    left:6vw;
    display:inline-block;
    float:left;
}

#toggleBetweenBoards{
    height:25vw;
    width:15vw;
    position:relative;
    top:13vw;
    right:6vw;
    display:inline-block;
    float:right;
}

#timeBar{
    width:50vw;
    background-color:#59fffd;
}

.progress .progress-bar{
    background-color:#df8910;
    box-shadow: 0 0 15px #fbe303;
    transition: 100ms;
}

.time_bar .progress{
    background-color:black;
    box-shadow: 0 0 15px #fbe303;
    position:relative;
    top:5vh;
}

button.start,
button.reset,
button.threeXthree,
button.fiveXfive{
    background-color:black;
    width:15vw;
    height:5vw;
    display:inline-block;
    font-family: 'Source Code Pro', monospace;
    border:none;
    text-decoration:none;
    box-shadow: 0 0 15px #59fffd;
    color:white;
    text-align:center;
    border-radius: 10%;
    margin:1vw auto;
    font-size:2vw;
    transition: background 0.5s linear 0s, color 0.5s linear 0s;
}

button:hover{
    background-color: #DF8910;
    box-shadow: 0 0 15px #fbe303;
}

button:active {
    background-color: rgba(20, 63, 78, 0.71);
    box-shadow: 0 0 15px #fbe303;
    transform: translateY(4px);
}

.wins{
    color:white;
    -webkit-box-reflect:none;
}
.modal-content{
    border:2px solid red;
}

.modal-footer{
    background-color:black;
    box-shadow: 0 0 15px #fbe303;
}

.modal button{
    color:white;
    background-color:black;
    box-shadow: 0 0 15px #59fffd;
    transition: background 0.5s linear 0s, color 0.5s linear 0s;
}

.modal button:hover{
    color:white;
    background-color: #DF8910;
    box-shadow: 0 0 15px #fbe303;
}

.modal-header{
    color:white;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: black;
    box-shadow: 0 0 15px #fbe303;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header h4.modal-title{
    font-family: 'Nunito', sans-serif;
}

.modal-dialog {
    text-align:center;
    position: absolute;
    top: 22vw;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
    overflow-y: auto;
}

.modal button.close{
    border-radius:20%;
    width:2vw;
    color:white;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {

    html,
    body {
        height: 100%;
    }
    .cell{
        width:24vw;
        height:24vw;
        margin: 1vw 1vw;
        line-height:24vw;
        font-size:16vw;
        font-weight: 100;
    }

    .game_board{
        width:80vw;
        height:80vw;
        margin: 0 auto;
        position:static;
        top:4vh;
    }

    .game_board .row{
        width:80vw;
        height: 24vw;
        display:flex;
        justify-content:space-between;
        margin:2vw auto;
        flex-shrink:0;
    }

    .cell5x5{
        width:14vw;
        height:14vw;
        margin: 1vw 1vw;
        background-color: #000000;
        line-height:14vw;
        font-size:9vw;
        font-weight: 100;
    }

    .game_board .row5x5{
        width:80vw;
        height: 15vw;
        margin:1.5vw auto;
    }

    .top{
        height:20vh;
        width:90vw;
        margin:0 auto;
        position:relative;
        top:5vw;
    }

    .player1,
    .player2{
        width:20%;
        height:50%;
        font-size:3vw;
        position:relative;
        top:5vw;
    }

    .playerText,
    .playerText{
        -webkit-box-reflect: below -4px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.2)));
    }

    #startAndReset{
        height:40vw;
        width:40vw;
        position:relative;
        top:0;
        left:6vw;
        display:inline-block;
        float:left;
    }

    #toggleBetweenBoards{
        height:40vw;
        width:40vw;
        position:relative;
        top:0;
        right:6vw;
        display:inline-block;
        float:right;
    }

    button.start,
    button.reset,
    button.threeXthree,
    button.fiveXfive{
        width:40vw;
        height:15vw;
        display:inline-block;
        border-radius: 15%;
        margin:1vw auto;
        font-size:5vw;
    }

    .modal-dialog {
        top: 70vw;
    }

    .time_bar .progress{
        position:relative;
        top:6vh;
    }


}